	
															
																<!--begin::Portlet-->
																<div class="m-portlet">
																	<div class="m-portlet__head">
																		<div class="m-portlet__head-caption">
																			<div class="m-portlet__head-title">
																				<span class="m-portlet__head-icon m--hide">
																					<i class="la la-gear"></i>
																				</span>
																				<h3 class="m-portlet__head-text">
																					Patient Information
																				</h3>
																			</div>
																		</div>
																	</div>
																	<!--begin::Form-->
																	<form action="http://127.0.0.1:5000/reports" methods="GET" class="m-form m-form--label-align-right">
																		<div class="m-portlet__body">
																			<div class="m-form__section m-form__section--first">
																				<div id="items" class="my-4">
													
																						<table class="table">
																							<thead>
																							  <tr>
																								<th scope="col">MRN</th>
																								<th scope="col">Patient Name</th>
																								
																								<th scope="col">Actions</th>
																							  </tr>
																							</thead>
																							<tbody id="tableBody">
																							  <tr>
																								<th scope="row">1</th>
																								<td>ABC</td>
																							
																								
																								
																								<td><button class="btn btn-sm btn-success">Download</button>
																								
																								<button  class="btn btn-sm btn-primary">View</button>
																								
																								<button class="btn btn-sm btn-danger">Delete</button>
																								</td>
																								
																							  </tr>
																							  
																							  </tr>
																							</tbody>
																						  </table>
																						</div>
																					</div>	
																																								
																																								
																			</div>
																		</div>
																		
																	</form>
											
																	<!--end::Form-->
																	
																</div>

																
																<!--end::Portlet-->
																
															
															